/* CSS Document */

/*
body,html{
	height:100%;}*/
body{font-size:12px; font-family:"微软雅黑", Arial;}

.ibar .ibar_closebtn, .ibar_login_box .icon_arrow_white, .ibar_login_box .login_btnbox a, .ibar_main_panel s, .ibar_mp_bottom .mp_qrcode .icon_arrow_white, .ibar_mp_center .mpbtn_cart a, .ibar_tips_box .tips_cart_box .icon_arrow_white, .ibar_tips_box .tips_cash_box .icon_arrow_white, .ibar_tips_box .tips_customer_box .icon_arrow_white, .ibar_user_content s {
	background-image: url(../img/ibar_sprites.png);
	background-repeat: no-repeat
}

.ibar {
	width: 40px;
	font-size: 12px;
	z-index: 1000;
	height:100%;
	background:#444851;
   right: 0px; position: fixed; top: 0px; display: block;
}

.ibar_main_panel {
	width: 40px;
	height: 100%;
	height:100%;
	position: absolute;
	background:#444851;
	z-index: 2;
	top: 0;
	left: 40px;
	font-family: 'microsoft yahei', arial
}
.ibar_main_panel li {
	position: relative;
	display: block;
	height: 38px;
	z-index: 1
}
.ibar_main_panel .ibar_mp_center {
	position: absolute;
	left: 0;
	background: #444851;
	z-index: 2
}
.ibar_main_panel a {
	display: block;
	line-height: 200px;
	width: 40px;
	height: 38px;
	text-decoration: none;
	color: #d8d8d8;
	background-color: #444851;
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 1
}
.ibar_main_panel .current, .ibar_main_panel a:hover {
	background: #ed145b;
	text-decoration: none
}
/*注意下面*/
.ibar_main_panel s {
	position: absolute;
	cursor: pointer
}

.ibar_mp_center .mpbtn_login{ height:38px;padding-top:80px; position:relative; }/*新增加的新修改的*/
.ibar_mp_center .mpbtn_login s {
	width: 18px;
	height: 19px;
	top: 10px;
	left: 11px;
	background: url(../img/ibar_sprites.png) no-repeat 0 0;
}
.ibar_mp_center .mpbtn_login .current s, .ibar_mp_center .mpbtn_login a:hover s {
	background-position: -33px 0
}

/*购物车*/
.ibar_mp_center .mpbtn_cart {

	height: 133px
}
.ibar_mp_center .mpbtn_favorite, .ibar_mp_center .mpbtn_histroy, .ibar_mp_center .mpbtn_recharge {
	padding-bottom: 6px
}
.ibar_mp_center .mpbtn_cart a {
	line-height: 16px;
	height: 133px;
	background-position: -23px -225px;
	color: #fff
}
.ibar_mp_center .mpbtn_cart_compact a {
	background: #444851
}
.ibar_mp_center .mpbtn_cart a s {
	width: 23px;
	height: 18px;
	top: 11px;
	left: 9px;
	background-position: 0 -29px
}
.ibar_mp_center .mpbtn_cart .text {
	width: 16px;
	display: block;
	height: 48px;
	margin: 38px 0 0 14px;
	cursor: pointer
}
.ibar_mp_center .mpbtn_cart .cart_num {
	width: 23px;
	height: 23px;
	display: block;
	border-radius: 50%;
	background: #ed145b;
	text-align: center;
	line-height: 23px;
	margin: 9px 0 0 10px;
	cursor: pointer;
	color: #fff
}
.ibar_mp_center .mpbtn_cart .current {
	background: #ed145b
}
.ibar_mp_center .mpbtn_cart .current s, .ibar_mp_center .mpbtn_cart a:hover s {
	background-position: -33px -29px
}
.ibar_mp_center .mpbtn_asset {
	padding-bottom: 6px;
	height: 38px
}
.ibar_mp_center .mpbtn_asset a s {
	width: 18px;
	height: 18px;
	background-position: 0 -57px;
	top: 10px;
	left: 11px
}
.ibar_mp_center .mpbtn_asset .current s, .ibar_mp_center .mpbtn_asset a:hover s {
	background-position: -33px -57px
}
.ibar_mp_center .mpbtn_favorite a s {
	width: 18px;
	height: 15px;
	background-position: 0 -85px;
	top: 11px;
	left: 11px
}
.ibar_mp_center .mpbtn_favorite .current s, .ibar_mp_center .mpbtn_favorite a:hover s {
	background-position: -33px -85px
}
.ibar_mp_center .mpbtn_histroy a s {
	width: 11px;
	height: 24px;
	background-position: -4px -110px;
	top: 8px;
	left: 14px
}
.ibar_mp_center .mpbtn_histroy .current s, .ibar_mp_center .mpbtn_histroy a:hover s {
	background-position: -36px -110px
}
.ibar_mp_center .mpbtn_recharge a {
	line-height: 16px
}
.ibar_mp_center .mpbtn_recharge .text {
	color: #444851;
	position: absolute;
	top: 11px;
	left: 14px
}
.ibar_mp_center .mpbtn_recharge a s {
	width: 22px;
	height: 22px;
	background-position: 0 -144px;
	top: 8px;
	left: 9px
}
.ibar_mp_center .mpbtn_recharge .current s, .ibar_mp_center .mpbtn_recharge a:hover s {
	background-position: -33px -144px
}



.ibar_main_panel .mpbtn_qrcode{
	position:relative;
	margin-top:100px;
	
	}
.ibar_main_panel .mpbtn_qrcode a s {
	width: 18px;
	height: 18px;
	top: 11px;
	left: 11px;
	background-position: 0 -302px
}
.ibar_main_panel .mp_qrcode {
	padding: 10px;
	width: 148px;
	height: 175px;
	top: -157px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	border-radius: 5px 0 0 5px;
	z-index: 3;
	position: absolute;
	left: -200px;
	display:block;
	border-left: 1px solid #ccc;
	transition:all linear 0.5s;
	opacity:0;
}


.ibar_main_panel .mpbtn_qrcode:hover .mp_qrcode
{
	opacity:1;
	left:-169px;
	}
.ibar_main_panel .mp_qrcode .icon_arrow_white {
	position: absolute;
	right: -5px;
	top: 172px;
	width: 5px;
	height: 9px;
	background-position: 0 -253px
}
.ibar_main_panel .mpbtn_support{
	
	position:relative;
	margin-top:20px;
	}
.ibar_main_panel .mpbtn_support a { background:##444851; height:38px; width:40px; display:block;}
.ibar_main_panel .mpbtn_support a s {
	width: 15px;
	height: 16px;
	top: 11px;
	left: 12px;
	background-position: 0 -175px
}
.ibar_main_panel .mpbtn_support .current s, .ibar_mp_bottom .mpbtn_support a:hover s {
	background-position: -33px -175px
}
.ibar_main_panel .mpbtn_gotop{position:relative; 
	margin-top:20px;}
.ibar_main_panel .mpbtn_gotop a s {
	width: 17px;
	height: 14px;
	top: 12px;
	left: 12px;
	background-position: 0 -201px
}
..ibar_main_panel .mpbtn_gotop .current s, .ibar_mp_bottom .mpbtn_gotop a:hover s {
	background-position: -33px -201px
}
/*我的财产*/
.ibar_main_panel .mp_tooltip {
	height: 38px;
	line-height: 38px;
	width: 92px;
	position: absolute;
	z-index: 2;
	left: -122px;
	top: 0;
	background: #444851;
	color: #d8d8d8;
	text-align: center;
	opacity:0;
	transition:all 0.5s;

}
.ibar_main_panel .mp_tooltip .icon_arrow_right_black {
	position: absolute;
	right: -5px;
	top: 15px;
	width: 5px;
	height: 9px;
	background-position: 0 -234px;
	overflow: hidden
}
/*动画效果*/
.ibar_main_panel .mpbtn_asset:hover .mp_tooltip,.ibar_main_panel .mpbtn_favorite:hover .mp_tooltip{ opacity:1; left: -92px;}
.ibar_main_panel .mpbtn_histroy:hover .mp_tooltip,.ibar_main_panel .mpbtn_support:hover .mp_tooltip,.ibar_main_panel .mpbtn_gotop:hover  .mp_tooltip{ opacity:1; left: -92px;}
.ibar_main_panel .mpbtn_login:hover .ibar_login_box{opacity:1;left: -288px;}


.ibar_sub_panel {
	width: 287px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	background: url(http://a2.jmstatic.com/8113bbfe541a378f/loading.gif) 50% 100px no-repeat #fff;
	-webkit-backface-visibility: hidden
}
.ibar_sub_panel .ibar_loading_text {
	position: absolute;
	top: 145px;
	left: 50%;
	color: #666;
	z-index: 1;
	margin-left: -66px
}
/*登陆 弹出样式*/
.ibar_login_box {
	width: 267px;
	height: 165px;
	padding: 10px;
	background: #fff;
	z-index:0;
	top: 80px;
	left:0px;
	position:absolute;
	border:1px solid #cccccc;
	border-right:0 none;
	transition:all ease 0.5s;

}

.ibar_login_box .avatar_box {
	width: 267px;
	overflow: hidden
}
.ibar_login_box .avatar_box p {
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top:0;

}
.ibar_login_box .avatar_box p.avatar_text{ line-height:0px; height:48px;}
.ibar_login_box .avatar_box a {
	color:#ed145b;
	text-decoration: none;
	display: inline-block;
	line-height: 62px;
	width: 40px;
	height: 38px;
	background:none;
}
.ibar_login_box .avatar_imgbox {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	overflow: hidden;
	margin:0 auto;
}
.ibar_login_box .login_btnbox {
	width: 267px;
	height: 79px;
	border-top: 1px dotted #d5d5d5;
	overflow: hidden;
	padding-top: 15px;
	clear: both
}
.ibar_login_box .login_btnbox a {
	width: 94px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e9e9e9;
	color: #333;
	text-decoration: none;
	float: left;
	background-position: 0 -408px;
	background-repeat: repeat-x
}
.ibar_login_box .login_btnbox a:hover {
	text-decoration: none;
	background-position: 0 -366px;
	border-color: #fccadb
}
.ibar_login_box .login_btnbox .login_order {
	margin: 0 10px 0 35px
}
.ibar_login_box .login_btnbox .login_favorite {
	border-color: #e9e9e9
}
.ibar_login_box .icon_arrow_white {
	position: absolute;
	right: -5px;
	top: 15px;
	width: 5px;
	height: 9px;
	background-position: 0 -253px
}

